%button.btn.blue.mt.modal-trigger{"data-target" => "modal1"}
  = t('.select_checklist') 
#modal1.modal
  .modal-content
    %h5 
      = t('.modal_info')
    = form_for(Audit.new, url: new_audit_path, method: :get) do |form|
      = form.collection_select :checklist_id, current_user.checklists.where(status: true), :id, :title, { prompt: t('choose_a_checklist') }
      = form.submit :class => 'btn mt'
%h3
  = t('.audits')
%table.highlight
  %thead
    %tr
      %th 
        = t('.checklist_name')
      %th 
        = t('.update_date')
      %th 
        = t('.action')
  %tbody
    - @audits.each do |audit|
      %tr
        %td
          = audit.checklist.title
        %td
          = audit.checklist.updated_at
        %td 
          = link_to t('.destroy'), audit_path(audit), method: :delete,class: "btn red", data: { confirm: t('.confirm') }
          = link_to t('.edit'), edit_audit_path(audit), class:'btn orange'
      
= link_to t('.back'), checklists_path, class: "btn mt"  
.row.d-table
  .col
    -if pagy_count_audit?
      = pagy_materialize_nav(@pagy).html_safe
      


