%button.btn.blue.mt.modal-trigger{"data-target" => "modal1"} Select checklist
#modal1.modal
  .modal-content
    %h5 Select a checklist to create an audit
    = form_for(Audit.new, url: new_audit_path, method: :get) do |form|
      = form.collection_select :checklist_id, current_user.checklists.where(status: true), :id, :title, { prompt: "Choose a checklist" }
      = form.submit :class => 'btn mt'
%h3 Audits
%table.highlight
  %thead
    %tr
      %th Checklist name
      %th Update date
      %th Action
  %tbody
    - @audits.each do |audit|
      %tr
        %td
          = audit.checklist.title
        %td
          = audit.checklist.updated_at
        %td 
          = link_to t('.destroy'), audit_path(audit), method: :delete,class: "btn red", data: { confirm: t('.confirm') }
          = link_to t('.edit'), edit_audit_path(audit), class:'btn orange'
      
= link_to t('.back'), checklists_path, class: "btn mt"  
.row.d-table
  .col
    -if @audits.length >= Checklist::COUNT_ITEM_PAGY
      = pagy_materialize_nav(@pagy).html_safe
      


