.m-3.d-flex.justify-content-center
  %button.btn.btn-primary{"data-target" => "#exampleModal", "data-toggle" => "modal", type: "button"} Select checklist
    
#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", role: "dialog", tabindex: "-1"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Select checklist
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = form_for(Audit.new, url: new_audit_path, method: :get) do |form|
          = form.collection_select :checklist_id, current_user.checklists.where(status: true), :id, :title
          = form.submit
        
%ul.list-group      
  .container
  - @audits.each do |audit|
    %li.list-group-item
      .row.align-items-center
        .col-5.text-left
          = audit.checklist.title
        .col-4.text-left
          = audit.checklist.updated_at
        .col-3.text-right
          = link_to t('.destroy'), audit_path(audit), method: :delete,class: "btn btn-danger", data: { confirm: t('.confirm') }
          = link_to t('.edit'), edit_audit_path(audit), class:'btn btn-warning'


= link_to t('.back'), checklists_path, class: "btn btn-dark mt-2"  
.row
  .col.d-flex.justify-content-center.mt-3
    -if @audits.length >= Checklist::COUNT_ITEM_PAGY
      = pagy_bootstrap_nav(@pagy).html_safe
      


