Questions
%ul.list-group
- @audit.checklist.questions.each do |cc|
  %li.list-group-item
    .row.align-items-center
      .col.text-left
        = cc.title
        %br
        = cc.description
= form_with(model: @audit, url: audits_path, method: :post) do |f|
  = f.hidden_field(:checklist_id) 
  = f.submit 




= link_to t('.back'), root_path, class: "btn btn-dark mt-2" 

