%h4 Edit checklist
.width_field_left
  = form_with model: @checklist, local: true do |form|
    = form.label :title
    = form.text_field :title
    - @checklist.errors.full_messages_for(:title).each do |message|
      %div= message
    =  form.label :description
    = form.text_field :description
    - @checklist.errors.full_messages_for(:description).each do |message|
      %div= message
    %ul.ul_flag#tag_id
      %table
        %thead
          %tr
            %th Question title
            %th Question description
        %tbody
          = form.fields_for(:questions) do |questions_form|
            %tr
              %td
                = questions_form.label "Question title"
                = questions_form.text_field :title 
                - questions_form.object.errors.full_messages_for(:title).each do |message|
                  %div= message
              %td 
                = questions_form.label "Question description"
                = questions_form.text_field :description
                - questions_form.object.errors.full_messages_for(:description).each do |message|
                  %div= message          
    = link_to t('.cancel'), checklists_path, class: 'btn red'  
    = link_to "Add question", "javascript:add_qustions()", class: 'btn blue' 
    = form.submit :class => 'btn green'
    
