%h4
  = t('.edit_checklist')
.width_field_left
  = form_with model: @checklist, local: true do |form|
    = form.label :title
    = form.text_field :title
    - @checklist.errors.full_messages_for(:title).each do |message|
      %div= message
    = form.label :description
    = form.text_field :description
    - @checklist.errors.full_messages_for(:description).each do |message|
      %div= message
    %ul.ul_flag#tag_id
      %table
        %thead
          %tr
            %th
              = t('.question_title')
            %th 
              = t('.question_description')
        %tbody
          = form.fields_for(:questions) do |question|
            %tr
              %td
                = question.label t('.question_title')
                = question.text_field :title 
                - question.object.errors.full_messages_for(:title).each do |message|
                  %div= message
              %td 
                = question.label t('.question_description')
                = question.text_field :description
                - question.object.errors.full_messages_for(:description).each do |message|
                  %div= message          
    = link_to t('.cancel'), checklists_path, class: 'btn red'  
    = link_to t('.add_question'), "javascript:add_qustions()", class: 'btn blue' 
    = form.submit :class => 'btn green'
    
