= link_to t('.new'), new_checklist_path, class:'btn mt green'
= link_to t('.show'), audits_path, class:'btn mt blue'
%table.highlight
  %thead
    %tr
      %th Title
      %th Description
      %th Actions
  %tbody
    - @checklists.each do |cl|
      %tr
        %td
          = link_to cl.title, cl
        %td 
          = cl.description
        %td   
          - if cl.status?
            = link_to t("Unpublish"), toggle_status_checklist_path(cl), method: :patch, class: "btn"
          - else
            = link_to t("Publish"), toggle_status_checklist_path(cl), method: :patch,class: "btn"
          = link_to t(".edit"), edit_checklist_path(cl), class: "btn orange"
          = link_to t('.destroy'), checklist_path(cl), method: :delete, data: { confirm: t('.confirm') }, class: "btn red"
.row
  .col.center-align.d-content
    -if @checklists.length >= Checklist::COUNT_ITEM_PAGY
      = pagy_materialize_nav(@pagy).html_safe

