= link_to "New Checklist", new_checklist_path
- @checklists.each do |cl|
  %br
    = cl.title
    = cl.description
    = link_to 'Destroy', checklist_path(cl), method: :delete, data: { confirm: 'Вы уверены?' }
    

-if @checklists.length >= 10
  = pagy_bootstrap_nav(@pagy).html_safe

