= link_to t('.new'), new_checklist_path, class:'btn mt green'
= link_to t('.show'), audits_path, class:'btn mt blue'
%table.highlight
  %thead
    %tr
      %th 
        = t('.title')
      %th 
        = t('.description')
      %th 
        = t('.actions')
  %tbody
    - @checklists.each do |checklist|
      %tr
        %td
          = link_to checklist.title, checklist
        %td
          = checklist.description
        %td
          - if checklist.status?
            = link_to t(".unpublish"), toggle_status_checklist_path(checklist), method: :patch, class: "btn text"
          - else
            = link_to t(".publish"), toggle_status_checklist_path(checklist), method: :patch,class: "btn button_m"
        %td
          = link_to t(".edit"), edit_checklist_path(checklist), class: "btn orange"
        %td
          = link_to t('.destroy'), checklist_path(checklist), method: :delete, data: { confirm: t('.confirm') }, class: "btn red"
.row
  .col.center-align.d-content
    -if pagy_count?
      = pagy_materialize_nav(@pagy).html_safe
