%h4 
  = t('.questions')
%table.highlight
  %thead
    %tr
      %th 
        = t('.title')
      %th 
        = t('.description')
  %tbody
    - @checklist.questions.each do |question|
      %tr
        %td
          = question.title
        %td
          = question.description
= link_to t('.back'), :back, class: 'btn mt'
