%nav.teal
  .container
    %a.brand-logo{href: "#"} 
      = t('.title_site')
    %ul#nav-mobile.right.hide-on-med-and-down
      - if user_signed_in?
        %li
          = t('.welcome') 
          #{current_user.email}
        %li
          = link_to t('.exit'), destroy_user_session_path, method: :delete
      - else
        %li
          = link_to t('.sign_in'), new_user_session_path
        %li
          = link_to t('.sign_up'), new_user_registration_path